body
{

    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#container
{
	width: 100%;
	position: relative;
	top: 0vh;
}

.post
{
	float: left;
	clear: left;
	color: white;
	margin-left: 40%;
	margin-top: 1em;
	background: #006994;
	border-radius: 6px;
	border: solid 1px black;
	padding: 5px;
	width: 45em;
}

.post-time
{
	font-size: 0.75em;
	display: inline-block;
	float: right;
	clear: left;
}

.post-profile-pic
{
	width: 50px;
	height: 50px;

	border: solid 1px black;
	border-radius: 50%;

	display: inline-block;
    float: left;
}

.post-name
{
	display: inline-block;
    float: left;

	margin-left: 1em;
	margin-top: 1em;
}

.post-message
{
	display: inline-block;
	float: left;
	clear: left;
	margin-top: 0.5em;
}
