#container
{
	background-image: url(../img/background.jpg);
	background-size: cover;

	width: 100%;
	height: 88vh;

	z-index: -1;
}

#head-text
{
	color: white;
	margin: 0 auto;
	text-align: center;
	padding-top: 5em;
}

#promo
{

}

#types
{
	display: inline-block;
    float: left;
	clear: left;

	margin-top: 5em;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

body 
{
	
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
	
}

.type
{
	padding-top: 0;
	background: #006994;
	color: white;

	width: 15em;
	height: 15em;

	border: 2px solid black;
	border-radius: 6px;

	margin-left: 2em;

	display: inline-block;
    float: left;
}

.label
{
	text-align: center;
}

.type-def
{
	margin-left: 1em;
}

#admin
{

}

#member
{

}

#guest
{

}

#footer
{
	float: left;
	clear: left;
}
