#container
{
	background-image: url(../img/background.jpg);
	background-size: cover;

	width: 100%;
	height: 88vh;

	max-height: 100%;

	margin-top: 0px;
	padding-top: 0px;

	position: relative;
	top: 0vh;
}

#head-text
{
	color: white;
	margin: 0 auto;
	text-align: center;
	padding-top: 5em;
}

#promo
{

}

#admin
{

}

#member
{

}

#guest
{
	
}
