html, body
{
	margin: 0;
	padding: 0;
}

#header
{
	background: #1E90FF;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header a
{
	text-decoration: none;
	color: white;
}