html, body
{
	margin: 0;
	padding: 0;
	font-family:Ubuntu;
}

#header
{
	background: #006994;
	width: 100%;
	overflow: auto;
	height: 6vh;
}

#header a
{
	text-decoration: none;
	color: white;
}

#header p
{
	float: left;
	margin-left: 1vw;
}

#home-link
{
	margin-right: 1vw;
}

#header input
{
	padding: 0.25em;
	
	width: 50em;
	height: 4vh;
	margin-top: 1vh;
	margin-left: 1vw;
}

#log-in
{
	float: right;
	margin-right: 0.5em;
}