html, body
{
	margin: 0;
	padding: 0;
}

#header
{
	background: #1E90FF;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
}

#header a
{
	text-decoration: none;
	color: white;
}

#header h1
{
	margin-left: 0.5em;
}

#header p
{
	
}