#container
{
	background-image: url(../img/background.jpg);
	background-size: cover;

	width: 100%;
	height: 88vh;

	margin-top: 0px;
	padding-top: 0px;


	top: 0vh;
}
 /*
#profile
{
	color: black;
	margin: 0 auto;
	padding-top: 2vh;
	height: 86vh;
	width: 90vw;
	min-width: 900px;
}

#heading
{
	font-size: 2vw;
	font-stretch: expanded;

	margin-bottom: 2vh;
}

#profile form
{
	margin-top: 0;
}

#profile a
{
	text-decoration: none;
}

.field, .sub-button
{
	width: 15vw;
	height: 4vh;
}

.sub
{
	font-size: 1vw;
	width: 20vw;

	text-align: center;
	margin: 0 auto;
}

#dataContainerOne
{
	font-size: 1.0em;
	width: 85%;
	height: 40vh;
	padding: 1em;
	border: 1px solid #ccc;
	margin: auto;
	margin-top: 0px;
}

#dataContainerOne h1
{
	text-align: left;
	padding-left: 15px;
	min-width: 400px;
}

#dataContainerTwo
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.0em;
	width: 85%;
	height: 30vh;
	padding: 1em;
	border: 1px solid #ccc;
	margin: auto;
}

#profilePicture
{
	width: 200px;
	height: 200px;
	float: left;
	border: 2px solid black;
}
#userDesc
{
	display: inline-block;
	font-size: 0.8em;
	padding: 1em;
    top: 80px;
    left: 450px;
	text-align: left;
}

#userDesc h2
{
	margin: auto;
}
#dataContainerTwo h3
{
	margin: auto;
}
#dataContainerTwo #left
{
	width: 50%;
	float: left;
}
#dataContainerTwo #right
{
	width: 50%;
	float: right;
}
*/

#upper-container
{
	min-width: 1050px;
}

#profile-pic
{
	width: 250px;
	height: 250px;

	border: solid 2px black;
	border-radius: 50%;

	margin-left: 5em;
	margin-top: 5em;

	display: inline-block;
    float: left;
}

#head-info
{
	margin-top: 5em;
	margin-left: 3em;

	display: inline-block;
    float: left;

	white-space: nowrap;
}

#ints-skills
{
	float: left;
}

.interest
{
	text-decoration: none;
	background: #006994;
	color: white;
	border-radius: 6px;
	border: solid 1px black;
	padding: 8px;
	height: 3em;
	margin-right: 1em;
}
