#container
{
	width: 100%;
	min-height: 88vh;

	z-index: -1;
}

#profile-pic
{
	width: 250px;
	height: 250px;

	border: solid 2px black;
	border-radius: 50%;

	margin-left: 5em;
	margin-top: 5em;

	display: inline-block;
    float: left;
}

#head-info
{
	margin-top: 3em;
	margin-left: 3em;

	display: inline-block;
    float: left;

}

#ints-skills
{
	float: left;
	clear: left;
	margin-left: 5em;
	margin-top: 0.5em;
}

.interest, .skill
{
	text-decoration: none;
	background: #006994;
	color: white;
	border-radius: 6px;
	border: solid 1px black;
	padding: 8px;
	height: 3em;
	margin-right: 1em;
}

#post-form
{
	float: left;
	clear: left;
	margin-left: 5em;
	margin-top: 0.5em;
}

#post-field
{
	width: 50em;
	height: 3em;
}

#post-button
{
	width: 5em;
	height: 3em;
}

body
{

    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
	height: 100%;

}

.post
{
	float: left;
	clear: left;
	color: white;
	margin-left: 5em;
	margin-top: 1em;
	background: #006994;
	border-radius: 6px;
	border: solid 1px black;
	padding: 5px;
	width: 45em;
}

.post-time
{
	font-size: 0.75em;
	display: inline-block;
	float: right;
	clear: left;
}

.post-profile-pic
{
	width: 50px;
	height: 50px;

	border: solid 1px black;
	border-radius: 50%;

	display: inline-block;
    float: left;
}

.post-name
{
	display: inline-block;
    float: left;

	margin-left: 1em;
	margin-top: 1em;
}

.post-message
{
	display: inline-block;
	float: left;
	clear: left;
	margin-top: 0.5em;
}
