#container
{
	background-image: url(../img/background.jpg);
	background-size: cover;

	width: 100%;
	height: 152vh;

	margin-top: 0px;
	padding-top: 0px;

	position: relative;
	top: 0vh;
}

#container img
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#settings
{
	color: white;

	margin: 0 auto;
	text-align: center;

	padding-top: 1vh;
}

#heading
{
	font-size: 2vw;
	font-stretch: expanded;

	margin-bottom: 2vh;

	min-width: 300px;
}

#settings form
{
	margin-top: 0;
}

#settings a
{
	text-decoration: none;
}

/**#profile
{
	width: 15vw;
	height: 4vh;
}*/

.field, .sub-button
{
	width: 15vw;
	height: 4vh;

	min-width: 300px;
}

.field2
{
	width: 15vw;
	height: 14vh;

	min-width: 300px;
}

#setting label
{
	text-align: left;
	width: 15vw;
}
.sub
{
	font-size: 1vw;
	width: 20vw;

	text-align: center;
	margin: 0 auto;
}
