.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}
.myForm 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.8em;
	width: 30em;
	padding: 1em;
	border: 1px solid #ccc;
	margin: auto;
}
.myForm * 
{
	box-sizing: border-box;
}
.myForm fieldset 
{
	border: none;
	padding: 0;
}
.myForm legend,
.myForm label 
{
	padding: 0;
	font-weight: bold;
}
.myForm label.choice 
{
	font-size: 0.9em;
	font-weight: normal;
}
.myForm label 
{
	text-align: left;
	display: block;
}
.myForm input[type="text"],
.myForm input[type="password"],
.myForm select,
.myForm textarea 
{
	float: right;
	width: 60%;
	border: 1px solid #ccc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
	padding: 0.3em;
}
.myForm input[type="file"] 
{
	float: right;
	width: 60%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
	padding: 0.3em;
}
.myForm button 
{
	padding: 1em;
	border-radius: 0.5em;
	background: #eee;
	border: none;
	font-weight: bold;
	margin-left: 40%;
	margin-top: 1.8em;
	align: center;
}
.myForm button:hover 
{
	background: #ccc;
	cursor: pointer;
}
